.vs/
E-Learning_API/obj
AdminPanel/obj
DAL/obj
BLL/obj
E-Learning_API/bin
AdminPanel/bin
DAL/bin
BLL/bin
E-Learning_API/Debug
AdminPanel/Debug
DAL/Debug
BLL/Debug
E-Learning_API/Release
AdminPanel/Release
DAL/Release
BLL/Release

